package internal

import (
	"{{.MODULE_PATH}}/internal/auth"
	"{{.MODULE_PATH}}/internal/user"

	"go.uber.org/fx"
)

var FeatureModules = fx.Options(
	user.Module,
	auth.Module,
	// add more modules in here
)
