package internal

import (
	"{{.MODULE_PATH}}/internal/http/router"
)

type RoutesIn struct {
	router.InjectRouteParams
	App    *Bootstrap
	Routes []router.Route `group:"routes"`
}

func RegisterRoutes(in RoutesIn) {
	for _, r := range in.Routes {
		r.RegisterRoute(in.App.Route)
	}
}
