package user

import (
	"{{.MODULE_PATH}}/internal/http/router"

	"go.uber.org/fx"
)

var Module = fx.Module(
	"user",
	fx.Provide(
		NewUserRepository,
		NewUserService,
		NewUserHandler,
		// This is the route you provide and register
		// Please use router.ProvideRoute instead
		router.ProvideRoute[UserRouteParams, router.Route](
			router.ProvideRouteOptions[UserRouteParams, router.Route]{
				Constructor: NewUserRoute,
				Acc:         router.RouteAccess,
			},
		),
	),
)
