package infra

import (
	"{{.MODULE_PATH}}/internal/infra/database"
	"{{.MODULE_PATH}}/internal/infra/infraapp"
	"{{.MODULE_PATH}}/internal/infra/validator"

	"go.uber.org/fx"
)

var Module = fx.Module(
	"infra",
	fx.Provide(
		database.NewService,
		database.NewLogger,
		validator.NewService,
		infraapp.NewLogger,
	),
	fx.Invoke(
		database.RegisterLifecycle,
	),
)
