package database


import (
	"fmt"

	"{{ .MODULE_PATH }}/config"

	"gorm.io/driver/mysql"
	"gorm.io/gorm"
)

func GetStandalone(env config.Env, logger *DBLogger) (*gorm.DB, error) {
	// mysql DSN: user:pass@tcp(host:port)/dbname?parseTime=True&loc=Local
	dsn := fmt.Sprintf(
		"%s:%s@tcp(%s:%d)/%s?charset=utf8mb4&parseTime=True&loc=Local",
		env.DatabaseUser,
		env.DatabasePassword,
		env.DatabaseHost,
		env.DatabasePort,
		env.DatabaseName,
	)

	return gorm.Open(mysql.Open(dsn), &gorm.Config{
		Logger: logger,
	})
}