package main

import (
	"context"
	"flag"
	"{{.MODULE_PATH}}/config"
	"{{.MODULE_PATH}}/internal/infra/database"
	"{{.MODULE_PATH}}/internal/user"

	"github.com/sirupsen/logrus"
)

func InitMigrate(ctx context.Context) error {
	reset := flag.Bool("reset", false, "Drop all tables then migrate")
	flag.Parse()
	dbLogger := database.NewLogger()
	env, err := config.NewEnvs()
	if err != nil {
		return err
	}
	db, err := database.GetStandalone(env, dbLogger)
	if err != nil {
		return err
	}
	if *reset {
		logrus.Println("Resetting database (dropping all tables)...")
		if err := database.Reset(db); err != nil {
			logrus.Fatal(err)
		}
	}
	return db.WithContext(ctx).Debug().AutoMigrate(
		&user.User{},
		// add more models / entities in here
		//
	)
}
